@model TripNotes.Models.Race

@{
  Layout = "_Layout";
}

<h2>Add a Horse To This Race</h2>

<h4>@Html.DisplayFor(model => model.RaceDate)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RaceId)

  @Html.Label("Select Horse")
  @Html.DropDownList("HorseId")

  <input type="submit" value="Save" />
  <input type="button" value="Return To Race List" onclick="location.href='@Url.Action("Index", "Races")'" />

}