@model TripNotes.Models.Race

@{
  Layout = "_Layout";
}

<h1>Race Notes<h1>
<h3>@Html.Label("Race Date "): @Html.DisplayFor(model => model.RaceDate)</h3>
<h3>@Html.DisplayFor(model => model.RaceLength)</h3>
<h3>@Html.DisplayFor(model => model.RaceClass)</h3>
<h3>@Html.DisplayFor(model => model.RaceNotes)</h3>


  @if(@Model.Horses.Count == 0)
{
  <p>This race has no horses assigned to it</p>
}
else
{
  <h2>Horses :</h2>
  <ul>
  @using(Html.BeginForm("AddRaceNotes", "Races")) 
    {
      @Html.HiddenFor(model => model.RaceId)

      @Html.LabelFor(model => model.RaceNotes)
      @Html.EditorFor(model => model.RaceNotes)

      @foreach(var join in Model.Horses)
      { 
      <div class ="notes">
        @Html.Hidden("joinId", @join.HorseRaceId, new { @class="joinId" })

        <li>@join.Horse.HorseName</li>
        <label for="horseNotes">Notes</label>
        <input type="text" name="horseNotes" class="horseNotes"><br>
        <label for="horsePerformance">Performance</label>
        <input type="text" name="horsePerformance" class="horsePerformance" value="0"><br>
      </div>
      }
      <input type="submit" id="btnSubmit" value="Add Notes" /><br>
    }


</ul>
}

  @section scripts{
    <script type="text/javascript">
      $(document).ready(function(){

        function getAllHorseRaceData(){
            var alldata = [];
            $(".notes").each(function() { 
              var HorseRaceId = $(this).find(".joinId ").val();
              var HorseNotes = $(this).find(".horseNotes").val();
              var HandledHorseNotes = HorseNotes.split(",").join("");
              var HorsePerformance = $(this).find(".horsePerformance").val();
              console.log(HandledHorseNotes)
              alldata.push(HorseRaceId, HandledHorseNotes, HorsePerformance);
            });
          return alldata;
        };

        $('#btnSubmit').click(function () {
          var race = (getAllHorseRaceData());
          var commaSeparatedHorseRace = race.toString();
          console.log(commaSeparatedHorseRace);
          debugger
          $.ajax({
              url: '/Races/AddNotes',
              type: 'POST',
              data: { horseRace: commaSeparatedHorseRace },
        });
      }); 
    });
    </script>
}
