@model TripNotes.Models.Race

@{
  Layout = "_Layout";
}

<h1>Race Notes<h1>
<h3>@Html.Label("Race Date "): @Html.DisplayFor(model => model.RaceDate)</h3>
<h3>@Html.DisplayFor(model => model.RaceLength)</h3>
<h3>@Html.DisplayFor(model => model.RaceClass)</h3>
<h3>@Html.DisplayFor(model => model.RaceNotes)</h3>


  @if(@Model.Horses.Count == 0)
{
  <p>This race has no horses assigned to it</p>
}
else
{
  <h2>Horses :</h2>
  <ul>
  @foreach(var join in Model.Horses)
  { 
    @* <li>@join.Horse.HorseName</li> *@
    <div class ="notes">
    @using (Html.BeginForm("DeleteHorse", "Horses"))
    {
      @Html.Hidden("joinId", @join.HorseRaceId, new { @class="joinId" })
      <li>@join.Horse.HorseName</li>
      <label for="horseNotes">Notes</label>
      <input type="text" name="horseNotes" class="horseNotes"><br>
      <label for="horsePerformance">Performance</label>
      <input type="text" name="horsePerformance" class="horsePerformance"><br>
    }
    </div>
  }
  <input class="test btn btn-default" type="button" name="name" value="Test" />
  <input type="submit" id="btnSubmit" value="Save Notes" /><br>

</ul>
}

  @section scripts{
    <script type="text/javascript">
      $(document).ready(function(){

      $(".test").click(function getAllHorseRaceData(){
            var alldata = [];
            $(".notes").each(function() {
              var horseRace = {};
              horseRace.Id = $(".joinId ").val();
              horseRace.RaceNotes = $(".horseNotes").val();
              horseRace.HorsePerformance = $(".horsePerformance").val();
              console.log(horseRace);
            alldata.push(horseRace);
            });
          console.log(alldata);
          return alldata;
        });
   
        $('#btnSubmit').click(function () {
          var race = JSON.stringify(getAllHorseRaceData());
  
          $.ajax({
              url: '/Races/SaveData',
              type: 'POST',
              data: { horses: commaSeparatedIds, race:  race },
          });
        });
      }); 
    </script>
}