@model TripNotes.Models.Race

@{
  Layout = "_Layout";
}

<h1>Add Pace<h1>
<h3>@Html.Label("Race Date "): @Html.DisplayFor(model => model.RaceDate)</h3>
<h3>@Html.DisplayFor(model => model.RaceLength)</h3>
<h3>@Html.DisplayFor(model => model.RaceClass)</h3>
<h3>@Html.DisplayFor(model => model.RaceNotes)</h3>


  @if(@Model.Horses.Count == 0)
{
  <p>This race has no horses assigned to it</p>
}
else
{
  <h2>Horses :</h2>
  <ul>
  @using(Html.BeginForm()) 
    {
      @foreach(var join in Model.Horses)
      { 
      <div class ="notes">
        @Html.Hidden("joinId", @join.HorseRaceId, new { @class="joinId" })
        @* @Html.HiddenFor(model => model.RaceId, new { @class="raceId" })
        @Html.Hidden("horseId", @join.HorseId, new { @class="horseId" }) *@

        <li>@join.Horse.HorseName</li>
        <label for="BL1">First Call Beaten Lengths</label>
        <input type="number" name="BL1" class="BL1"><br>
        <label for="BL2">Second Call Beaten Lengths</label>
        <input type="number" name="BL2" class="BL2"><br>
        <label for="BL3">Third Call Beaten Lengths</label>
        <input type="number" name="BL3" class="BL3"><br>
      </div>
      }
      <input type="submit" id="btnSubmit" value="Add Notes" /><br>
    }


</ul>
}

  @section scripts{
    <script type="text/javascript">
      $(document).ready(function(){

        function getBLData(){
            var alldata = [];
            $(".notes").each(function() { ///maybe change out of object format? Just 3 string in array?
              var HorseRaceId = $(this).find(".joinId ").val();
              var BL1 = $(this).find(".BL1").val();
              var BL2 = $(this).find(".BL2").val();
              var BL3 = $(this).find(".BL3").val();

              alldata.push(HorseRaceId, BL1, BL2, BL3);
            });
          return alldata;
        };

        $('#btnSubmit').click(function () {
          var pace = (getBLData());
          var commaSeparatedPace = pace.toString();
          console.log(commaSeparatedHorseRace);
          debugger
          $.ajax({
              url: '/Races/AddPace',
              type: 'POST',
              data: { horsePace: commaSeparatedPace },
        });
      }); 
    });
    </script>
}