@model TripNotes.Models.Race

@{
  Layout = "_Layout";
}

<h1>Add Pace<h1>
<h3>@Html.Label("Race Date "): @Html.DisplayFor(model => model.RaceDate)</h3>
<h3>@Html.DisplayFor(model => model.RaceLength, new { @class="raceLength" })</h3>
<h3>@Html.DisplayFor(model => model.RaceClass)</h3>
<h3>@Html.DisplayFor(model => model.RaceNotes)</h3>


  @if(@Model.Horses.Count == 0)
{
  <p>This race has no horses assigned to it</p>
}
else
{
  <h2>Horses :</h2>
  <ul>
  @using(Html.BeginForm()) 
    {
      @foreach(var join in Model.Horses)
      { 
      <div class ="BL">
        @Html.Hidden("joinId", @join.HorseRaceId, new { @class="joinId" })
        @* @Html.HiddenFor(model => model.RaceId, new { @class="raceId" })
        @Html.Hidden("horseId", @join.HorseId, new { @class="horseId" }) *@

        <li>@join.Horse.HorseName</li>
        <label for="BL1">First Call Beaten Lengths</label>
        <input type="number" step="0.1" name="BL1" class="BL1"><br>
        <p>If horse was in lead at first call, enter 0 for beaten lengths. Otherwise, enter how many lengths the horse was behind the pace horse.</p>
        <label for="BL2">Second Call Beaten Lengths</label>
        <input type="number" step="0.1" name="BL2" class="BL2"><br>
        <label for="BL3">Third Call Beaten Lengths</label>
        <input type="number" step="0.1" name="BL3" class="BL3"><br>
      </div>
      }
      <input type="submit" id="btnSubmit" value="Calculate Pace Figures" /><br>
    }

      <button type="button" id="test">Test</button>

</ul>
}

  @section scripts{
    <script type="text/javascript">
      $(document).ready(function(){

        function getBLData() {
            var alldata = [];
            $(".BL").each(function() {
              var HorseRaceId = $(this).find(".joinId").val();
              var raceLength = $(this).find(".raceLength").val();
              var BL1 = $(this).find(".BL1").val();
              var BL2 = $(this).find(".BL2").val();
              var BL3 = $(this).find(".BL3").val();
              if (raceLength <8) {
                calcSprint1Fr(BL1, firstFraction);
                calcSprint2Fr(BL1, BL2, secFraction);

              } else {
                calcRoute(raceLength);
              }
              alldata.push(HorseRaceId, BL1, BL2, BL3);
            });
          return alldata;
        };

        $('#test').click(function calcSprint2Fr() {
          var secFraction = 23.2;
          var BL1 = 7;
          var BL2 = 9;
          let change = (BL1 - BL2);
          let FPS = (1320 + (change * 10)) / secFraction;
          console.log(FPS);
          return FPS;
        });

        function calcSprint1Fr(BL1, firstFraction) {
          let FPS = (1320 - (BL1 * 10)) / firstFraction;
          return FPS;
        }

        function calcSprint2Fr(BL1, BL2, secFraction) {
          let change = (BL1 - BL2);
          let FPS = (1320 + (change * 10)) / secFraction;
          return FPS;
        }

        $('#btnSubmit').click(function () {
          var pace = (getBLData());
          var commaSeparatedPace = pace.toString();
          $.ajax({
              url: '/Races/AddPace',
              type: 'POST',
              data: { horsePace: commaSeparatedPace },
        });
      }); 
    });
    </script>
}