@model TripNotes.Models.Race
@using System.Collections.Generic;

@{
  Layout = "_Layout";
}

<h2>Add a new Race</h2>

@using(Html.BeginForm())
{
  <div class="row">
    <div class="col-md-5 column">
      @Html.LabelFor(model => model.RaceDate)<br>
    </div>
    <div class="col-md-5 column">
      @Html.TextBoxFor(model => model.RaceDate, new { @type = "date"})<br>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 column">
        @Html.LabelFor(model => model.RaceLength)<br>
    </div>
    <div class="col-md-5 column">
        @Html.TextBoxFor(model => model.RaceLength, new {@class="form-control", required="required"})<br>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 column">
        @Html.LabelFor(model => model.RaceClass)<br>
    </div>
    <div class="col-md-5 column">
        @Html.TextBoxFor(model => model.RaceClass, new {@class="form-control", required="required"})<br>
    </div>
  </div>
  
  <input class="btnAdd btn btn-default" type="button" name="name" value="Add" />
  <div class="row horse-data" id="divToRepeat">
    <div class="col-md-5 column">
      @Html.Label("Add A Horse To This Race: ")<br>
    </div>
    <div class="col-md-5 column">

      @* @Html.DropDownList("HorseId")<br> *@
      @* @Html.TextBox("SearchString") *@
    </div>
  </div>  
    <input type="submit" value="Add Race" /><br>

   <input class="test btn btn-default" type="button" name="name" value="Test" />
}

@* <script id="template" type="text/template"> 
   <div class="row horse-data" >
    <div class="col-md-5 column">
      @Html.DropDownList("HorseId")<br>
    </div>
  </div> 
</script> *@

@section scripts{
<script type="text/javascript">
  $(document).ready(function(){
    $(".btnAdd").click(function() {
      $("#divToRepeat").append($("#template").html());
    });

    $(".test").click(function() {

      var data = [];

      $(".horse-data").each(function() {
        var Horse = $(this).find("HorseId option:checked").val();
        console.log(Horse);
        data.push(Horse);
    }); 
    console.log(data);
    });
  

  });


</script>
}
   @* function getAllData() {
    var data = [];
    $("divToRepeat").each(function(){
      alert("Another div");
    }); *@