@model TripNotes.Models.Race
@using System.Collections.Generic;

@{
  Layout = "_Layout";
}

<h2>Add a new Race</h2>

@using(Html.BeginForm())
{
  <div class="row">
    <div class="col-md-5 column">
      @Html.LabelFor(model => model.RaceDate)<br>
    </div>
    <div class="col-md-5 column">
      @Html.TextBoxFor(model => model.RaceDate, new { @type = "date"})<br>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 column">
        @Html.LabelFor(model => model.RaceLength)<br>
    </div>
    <div class="col-md-5 column">
        @Html.TextBoxFor(model => model.RaceLength, new {@class="form-control", required="required"})<br>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 column">
        @Html.LabelFor(model => model.RaceClass)<br>
    </div>
    <div class="col-md-5 column">
        @Html.TextBoxFor(model => model.RaceClass, new {@class="form-control", required="required"})<br>
    </div>
  </div>

  <div class="row" id="divToRepeat">
    <div class="col-md-5 column">
      @Html.Label("Add A Horse To This Race: ")<br>
    </div>
    <div class="col-md-5 column">
      @Html.DropDownList("HorseId")<br>
      <input type="button" id="btnAdd" value="Add Another Horse" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 column">
      Find by date: @Html.TextBox("SearchString")
    <br>    
    <input type="submit" value="Add Race" /><br>
    </div>
  </div>
}

<script>
    $(function () {
        $("#btnAdd").click(function (e) {
            var horseIndex = $("#container input.iHidden").length;
            e.preventDefault();
            var newItem = $("<tr><td><input id='addHorse" + horseIndex + "__Id' type='hidden' value='' class='iHidden'  name='Interests[" + horseIndex + "].Id' /><input type='text' id='Interests_" + horseIndex + "__InterestText' name='Interests[" + horseIndex + "].InterestText'/></td></tr>");
            $("#container").append(newItem);
        });
    });
</script> 

<p>@Html.ActionLink("Add new Horse", "Create", "Horses")</p> 
