@model TripNotes.Models.Race

@{
  Layout = "_Layout";
}

<h2>Add a new Race</h2>

@using(Html.BeginForm()) 
{
  <div class="row">
    <div class="col-md-5 column">
      @Html.LabelFor(model => model.RaceDate)<br>
    </div>
    <div class="col-md-5 column">
      @Html.TextBoxFor(model => model.RaceDate, new { @type = "date", @class="date"})<br>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 column">
        @Html.LabelFor(model => model.RaceLength)<br>
    </div>
    <div class="col-md-5 column">
        @Html.TextBoxFor(model => model.RaceLength, new { @class="form-control length", required="required" })<br>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 column">
        @Html.LabelFor(model => model.RaceClass)<br>
    </div>
    <div class="col-md-5 column">
        @Html.TextBoxFor(model => model.RaceClass, new { @class="form-control raceClass", required="required" })<br>
    </div>
  </div>
  
  <input class="btnAdd btn btn-default" type="button" name="name" value="Add A Horse To This Race" />

  <div class="row">
    <div class="col-md-5 column">
      @Html.Label("Add A Horse To This Race: ")<br>
    </div>

    <div class="col-md-5 column" id="horseList"></div>
  </div>  
  
    <input type="submit" id="btnSubmit" value="Add Race" /><br>
}

<p>@Html.ActionLink("Back To List of Races", "Index")</p> 

  <script id="template" type="text/template"> 
    <div class="row" >
      <div class="col-md-5 column" id="fields">
        @Html.DropDownList( "HorseId", ViewBag.HorseId, "Horse Name", new { @class="horseData"})<br>
      </div>
    </div> 
  </script>

  @section scripts{
    <script type="text/javascript">
      $(document).ready(function(){
      
        $(".btnAdd").click(function() {
          $("#horseList").append($("#template").html());
        });

        function getAllHorses() {
          var data = [];
          $(".horseData").each(function() {
            var Horse = $(this).val();
            data.push(Horse);
          }); 
          return data;
        };
      
        function getAllRaceData(){
          var race = {};
          race.RaceDate = $(".date").val();
          race.RaceLength = $(".length").val();
          race.RaceClass = $(".raceClass").val();
          return race;
        }
  
        $('#btnSubmit').click(function () {
          var data = (getAllHorses());
          var commaSeparatedIds = data.toString();
          var race = JSON.stringify(getAllRaceData());
  
          $.ajax({
              url: '/Races/SaveData',
              type: 'POST',
              data: { horses: commaSeparatedIds, race:  race },
          });
        });
      }); 
    </script>
  }


