@model TripNotes.Models.Race

@{
  Layout = "_Layout";
}

<h1>Race Details<h1>
<h3>@Html.Label("Date "): @Html.DisplayFor(model => model.RaceDate)  @Html.DisplayFor(model => model.RaceLength) @Html.Label("    Furlongs ") @Html.Label("     Class "): @Html.DisplayFor(model => model.RaceClass)</h3>
<h3></h3>
<h3></h3>
<h3>@Html.DisplayFor(model => model.RaceNotes)</h3>


  @if(@Model.Horses.Count == 0)
{
  <p>This race has no horses assigned to it</p>
}
else
{
  <h2>Horses :</h2>
  <ul>
  @foreach(var join in Model.Horses)
  { 
    <li>@join.Horse.HorseName</li>
    @using (Html.BeginForm("DeleteHorse", "Horses"))
    {
      @Html.Hidden("joinId", @join.HorseRaceId)
      @* <input type="submit" value="Delete"/> *@
    }
  }
</ul>
}
<input type="button" value="Add TripNotes for this Race" onclick="location.href='@Url.Action("AddNotes", "Races", new { id = Model.RaceId })'" /> 
<input type="button" value="Add Pace Calculations for this Race" onclick="location.href='@Url.Action("AddPace", "Races", new { id = Model.RaceId })'" /> 
<input type="button" value="Add Horse To Race" onclick="location.href='@Url.Action("AddHorse", "Races", new { id = Model.RaceId })'" /> 
<input type="button" value="Edit Race" onclick="location.href='@Url.Action("Edit", "Races", new { id = Model.RaceId })'" /> 
<input type="button" value="Delete Race" onclick="location.href='@Url.Action("Delete", "Races", new { id = Model.RaceId })'" /> 





