@model TripNotes.Models.Horse

@{
  Layout = "_Layout";
}

<h1>Horse Details<h1>
<hr/>

<h3>@Html.DisplayFor(model => model.HorseName)</h3>
<br>

@if(@Model.Races.Count == 0)
{
  <p>No records of races in which this horse has been entered</p>
}
else
{  
  <div style="overflow-x:auto;">
    <table class="table">
      <tr>
          <th>
              Race Date
          </th>
          <th>
              Race Comments
          </th>
          <th>
              Horse Comments
          </th>
          <th>
              Rating
          </th>
          <th>
              FPS First Fraction
          </th>
          <th>
              FPS Second Fraction
          </th>
          <th>
              FPS Third Fraction
          </th>
      </tr>
      
    @foreach (var join in Model.Races)
    {
    
      <tr>
        <td>
          @join.Race.RaceDate
          </td>
        <td>
          @join.Race.RaceNotes
        </td>
        <td>
          @join.HorseNotes
        </td>
        <td>
          @join.HorsePerformance
        </td>
        <td>
          @join.FirstFR
        </td>
        <td>
          @join.SecondFR
        </td>
        <td>
          @join.ThirdFR
        </td>
      </tr>
    }
    </table>
  </div>
}
  <input type="button" value="Return To Horse List" onclick="location.href='@Url.Action("Index", "Horses")'" /> 
  <input type="button" value="Edit Horse" onclick="location.href='@Url.Action("Edit", "Horses", new { id = Model.HorseId })'" /> 
  <input type="button" value="Delete Horse" onclick="location.href='@Url.Action("Delete", "Horses", new { id = Model.HorseId })'" /> 




